<tr *ngFor="let re of repo">

  <div class="container-fluid margin: 20px;">
  <div class="row">
    <div class="col-lg">


      <div class="card" style="width: 25rem; margin-left: 70px;">
        <img  class="img-fluid rounded" width="600px" src="/assets/a1.png"/>
        <div class="card-body">
          <h5 class="card-title">{{re.title}}</h5>
          <p class="card-text">{{re.contentSummary}}</p>
          <a href="{{re.link}}" class="btn btn-dark">Repoya Git</a>
        </div>

      </div>

      <hr style="color: white">

    </div>
    </div>

  </div>

</tr>

<!A--NİMATİON-->
<div class="container">
  <h2 class="title">
    <span class="title-word title-word-1">KE</span>
    <span class="title-word title-word-2">EP</span>
    <span class="title-word title-word-3">COD</span>
    <span class="title-word title-word-4">İNG</span>
  </h2>
</div>

