
<div class="acontainer">
  <h2 class="title">
    <span class="title-word title-word-1">WE</span>
    <span class="title-word title-word-2">LC</span>
    <span class="title-word title-word-3">O</span>
    <span class="title-word title-word-4">ME</span>
  </h2>
</div>


<div class="container text-center">
  <div class="row">
    <div class="col">
      <img  class="img-fluid rounded" width="300px" src="/assets/a.JPG"/>
      <hr style="color:white">


      <tr *ngFor="let exp of home">

        <!--datayı yazdırmak için-->


      <p style="font-family: 'Roboto', sans-serif; color: aliceblue; text-align: justify;">
        {{ exp.titleTwo }}
       </p>
        </tr>

    </div>
    <div class="col">
      <tr *ngFor="let exp of home">

        <!--datayı yazdırmak için-->


      <p style="font-family: 'Roboto', sans-serif; color: aliceblue; text-align: justify;">
        {{ exp.titleOne }}
       </p>
        </tr>

        <p style="font-family: 'Roboto', sans-serif; color: rgb(164, 154, 199); text-align: justify;">
       Odaklandığım Yazılım Dilleri ve Frameworkler
         </p>
         <img  class="img-fluid rounded" width="80px" src="/assets/asp.png"/>
         <img  class="img-fluid rounded" width="100px" src="/assets/angular.png"/>
         <img  class="img-fluid rounded" width="75px" src="/assets/csharp.png"/>

        <hr style="color:white">
        <img  class="img-fluid rounded" width="600px" src="/assets/bbbb.png"/>

    </div>

  </div>

