p
{

    color: #fff;
    font-size: 20px;
}
p:hover
{
    color: red

}

a:hover
{
    color: black
}
i
{
    padding: 0px 10px;
}
li{
  padding: 10px 50px;
  margin-top: 10px;
  margin-bottom: -20px;

}

