<ul class="nav justify-content-center">

  <li class="nav-item">
    <a class="nav-link" href="home"><p><i class="fa-solid fa-house fa-2x"></i> ANASAYFA</p></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about"><p><i class="fa-solid fa-user fa-2x"></i> HAKKIMDA</p></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contact"><p><i class="fa-solid fa-phone fa-2x"></i> İLETİŞİM</p></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="repo"><p><i class="fa-brands fa-github fa-2x"></i> REPOLARIM</p></a>
  </li>
</ul>
<hr style="color:white">




